<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>B-Universe</title>
    <link rel="shortcut icon" sizes="16x16" th:href="@{/Images/BTV.ico}" />

</head>

<body class="d-flex justify-content-center vh-100 bb">
    <div class="card-container" style="margin-top: 5rem;">
        <div class="card-inner " >
            <div class="card-front ">
                <div class="d-flex toflip fixed-bottom justify-content-end">
                    <i class="fa-solid fa-arrow-right fa-2x m-3"></i>
                </div>
                <div class="row" style="margin-top: 10%;" >
                    <div class="col" align="center" >
                        <img th:src="${Image}" style="height: 200px; width: 200px; border-radius: 50%;">
                    </div>
                    <div class="col" style="margin-left: 15px; margin-right: 15px;">
                        <h1 style="font-weight: lighter; padding-top: 5%;" id="fullname" th:text="${nama}" th:value="${nama}"></h1>
                        <h4 id="title" th:text="${jabatan}"></h4>
                        <h3 id="division" th:text="${divisi}"></h3>
                        <h2 id="address" style="font-weight: lighter; font-size: small;">Commodity Square, Jl. Jend. Gatot Subroto Kav.
                            35-36, Kuningan
                            Timur, Setiabudi, Jakarta Selatan</h2>
                    </div>
                    
                </div>
                
                
            </div>
            <div class="card-back">
                
                    <a class="btn btn-primary float-end mt-2" style="width: 80%; height: 3.5rem; border-radius: 10px 0 0 10px; font-size: x-large;" type="button" th:href="${email}"
                    target="_blank"><i class="fa-regular fa-envelope float-start m-2"></i> Email me</a>
                    <a class="btn btn-success float-end mt-2" style="width: 80%; height: 3.5rem; border-radius: 10px 0 0 10px; font-size: x-large;" type="button" th:href="${wa}" target="_blank"><i class="fa-brands fa-whatsapp float-start m-2"></i> Call / Message me</a>
                    <a id="save-btn" class="btn btn-dark float-end mt-2" style="width: 80%; height: 3.5rem; border-radius: 10px 0 0 10px; font-size: x-large;" type="button"><i class="fa-solid fa-download float-start m-2"></i> Save my contact</a>

                    <div class="row" style="justify-content: center;">
                        <a th:src="@{/Images/B_UNIVERSE_LOGO_COLOR.png}" style="height: 150px; width: auto;">
                    </div>
                    <div class="d-flex toflip fixed-bottom justify-content-end">
                        <i class="fa-solid fa-arrow-right fa-2x m-3"></i>
                    </div>
             
                
            </div>
        </div>
    </div>
</body>

</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $('.toflip').click(function (e) {
            e.preventDefault();
            $('.card-inner').toggleClass('flipped');
        })

        var pp = /*[[${gambar}]]*/"";
        var reader = new FileReader();
        reader.readAsDataURL(pp);

        var base64String = reader.result;
        console.log('Base64 String - ', base64String);


       
        
    });

    var fullname = /*[[${nama}]]*/"";
        var email = /*[[${email}]]*/"";
        var what = /*[[${wa}]]*/"";
        var divisi = /*[[${divisi}]]*/"";
        var jabatan = /*[[${jabatan}]]*/"";

        var em = email.substring(7)
        var wh = what.substring(13)
        console.log(fullname, em, divisi, jabatan, wh);
    var saveBtn = document.getElementById("save-btn");
        saveBtn.addEventListener("click", function () {


            var contact = {
                name: fullname,
                phone: wh,
                email: em,
                company: "B-UNIVERSE",
                title: jabatan + " " + divisi,
                address: "Commodity Square, Jl. Jend. Gatot Subroto Kav. 35-36, Kuningan Timur, Setiabudi, Jakarta Selatan",
            };

            console.log(contact)

            var vcard = "BEGIN:VCARD\nVERSION:3.0\nFN:" + contact.name + "\nTEL;TYPE#HOME,VOICE:" + contact.phone + "\nEMAIL;TYPE=internet,home:" + contact.email + "\nTITLE:" + contact.title + "\nADR;TYPE=work:;;" + contact.address + "\nEND:VCARD";
            console.log(vcard);
            // window.open("http://localhost:8110/qrcode?link=" + vcard + " ", "_blank")

            //PHOTO;TYPE=PNG;ENCODING=b:base64 string TITLE:IT APPLICATION ADR;TYPE=work
            var blob = new Blob([vcard], {
                type: "text/vcard;charset=utf-8"
            });

            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = contact.name + ".vcf";
            link.click();

        });


</script>