<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/croppie.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css"
        integrity="sha384-ww0rVASXMoKHk188bKXg4fIZUrd5s80drZJWVP6tgTtu4AskG/wVqDnOEmhjJhvp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css"
        integrity="sha512-2eMmukTZtvwlfQoG8ztapwAH5fXaQBzaMqdljLopRSA0i6YKM8kBAOrSSykxu9NN9HrtD45lIqfONLII2AFL/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css"
        integrity="sha384-umkm0vkZUa1vwHtzKo2Iv3MEVY4LUQz+Z8ZesVn86xU+zreLCdLrjxCN8L/FUeWD" crossorigin="anonymous">
    <title>B-Universe</title>
    <link rel="shortcut icon" sizes="16x16" th:href="@{/Images/BTV.ico}" />

</head>

<body th:style="'background-image:url('+@{/Images/back.png}+');background-size:cover;'">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <img th:src="@{/Images/B_UNIVERSE_LOGO_COLOR.png}" style="height: 150px; width: auto;">
        </div>
        <div class="row justify-content-center">
            <img id="before" style="width: auto; height: 200px;" src="" class="center mb-3">
            <div  id="tempat" >
                    
            </div>
            <form id="formperson" action="#" enctype="multipart/form-data">
                <div class="row">
                    <input class="form-control" type="file" id="filep" accept="image/*" />
                    <img id="my-image" src="#" hidden />
                </div>
                
                <input type="text" th:value="${session.username}" id="usernameee" hidden />
                <label class="mt-3" style="color: white;">Nama Lengkap</label>
                <input type="text" id="isinama" class="form-control mt-1" />
                <label class="mt-3" style="color: white;">Isi Jabatan</label>
                <input type="text" id="isijabatan" class="form-control mt-1" />
                <label class="mt-3" style="color: white;">Isi Divisi</label>
                <input type="text" id="isidivisi" class="form-control mt-1" />
                <label class="mt-3" style="color: white;">No WhatsApp</label>
                <input type="text" id="isino" th:value="${wa}" class="form-control bfh-phone mt-1"
                    data-format="+62 ddd-dddd-dddd" />
                <label class="mt-3" style="color: white;">Email</label>
                <input type="text" id="isiemail" th:value="${email}" class="form-control mt-1" />
            </form>
            <img id="resultcrop" name="files" value="" src="" hidden>
            <a class="btn btn-primary mt-5" type="button" id="use">Simpan</a>
            <a class="btn btn-outline-warning mt-3" type="button" onclick="generateQR()">Generate QR</a>
        </div>

    </div>
</body>
<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1"
    id="modalLoading">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>

</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"
    integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
    integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"
    integrity="sha384-/Wx1NuqlgALfa1Do1U6Mer7quEDHOo8REf/0izoIrV8Y3Z/gtEHQc01STCEMM1LZ"
    crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/croppie.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.js"
    integrity="sha512-vUJTqeDCu0MKkOhuI83/MEX5HSNPW+Lw46BA775bAWIp1Zwgz3qggia/t2EnSGB9GoS2Ln6npDmbJTdNhHy1Yw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.js"
    integrity="sha384-nAxNFVf5b1TUTdxcKQ3AKNzEjTfZmvDvMbOWKubsty3ma0DxFtbYfioZUyTr5Ad+"
    crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        getdata();

    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#my-image').attr('src', e.target.result);
                var resize = new Croppie($('#my-image')[0], {
                    viewport: {
                        width: 200,
                        height: 200,
                        type: 'circle'
                    },
                    boundary: {
                        width: 300,
                        height: 300
                    },
                    // showZoomer: false,
                    // enableResize: true,
                    enableOrientation: true
                });
                $('#use').fadeIn();
                $('#use').on('click', function () {
                    resize.result('base64').then(function (dataImg) {
                        var data = [{ image: dataImg }, { name: 'myimgage.jpg' }];
                        $('#filep').attr('value', dataImg);
                        $('#resultcrop').attr('src', dataImg);
                        var poto = document.getElementById("resultcrop").src;
                        var wa = document.getElementById("isino").value;
                        var a1 = wa.replace("+62 ", "").replace("-", "").replace("-", "");
                        var poto = document.getElementById("resultcrop").src;
                        var jab = document.getElementById("isijabatan").value.toUpperCase();
                        var divi = document.getElementById("isidivisi").value.toUpperCase();

                        var uri = `/InputPerson?nama=${$("#isinama").val()}&nowa=${a1}&email=${$("#isiemail").val()}&jabatan=${jab}&divisi=${divi}&Image=${poto}`;
                        axios({
                            method: "post",
                            url: uri,
                            headers: { "Content-Type": "multipart/form-data" },
                        })
                            .then(function (response) {
                                Swal.fire({
                                    position: "center",
                                    icon: response.data.icon,
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500,
                                }).then((result) => {
                                    console.log($("#isino").val());
                                    $("#modalLoading").modal("show");
                                    // location.reload();
                                });
                            })
                            .catch(function (obj) {
                                Swal.fire({
                                    position: "center",
                                    icon: obj.response.data.icon,
                                    title: obj.response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500,
                                }).then((result) => {
                                    $("#modalLoading").modal("show");
                                    // location.reload();
                                });
                            });


                    })

                })
                $('#update').on('click', function () {
                    resize.result('base64').then(function (dataImg) {
                        var data = [{ image: dataImg }, { name: 'myimgage.jpg' }];
                        $('#filep').attr('value', dataImg);
                        $('#resultcrop').attr('src', dataImg);
                        var usme = document.getElementById("usernameee").value;
                        var poto = document.getElementById("resultcrop").src;
                        var w = document.getElementById("isino").value;
                        var a = w.replace("+62 ", "").replace("-", "").replace("-", "");
                        var jab = document.getElementById("isijabatan").value.toUpperCase();
                        var divi = document.getElementById("isidivisi").value.toUpperCase();
                        var uri = `/PutPerson?nama=${$("#isinama").val()}&nowa=${a}&email=${$("#isiemail").val()}&jabatan=${jab}&divisi=${divi}&Image=${poto}&username=${usme}`;
                        axios({
                            method: "put",
                            url: uri,
                            headers: { "Content-Type": "multipart/form-data" },
                        })
                            .then(function (response) {
                                Swal.fire({
                                    position: "center",
                                    icon: response.data.icon,
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500,
                                }).then((result) => {
                                    console.log($("#isino").val());
                                    console.log(a);
                                    $("#modalLoading").modal("show");
                                    location.reload();
                                });
                            })
                            .catch(function (obj) {
                                Swal.fire({
                                    position: "center",
                                    icon: obj.response.data.icon,
                                    title: obj.response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500,
                                }).then((result) => {
                                    $("#modalLoading").modal("show");
                                    location.reload();
                                });
                            });


                    })

                })
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#filep").change(function () {
        readURL(this);
    });

    function getdata() {
        var usm = document.getElementById("usernameee").value;
        if (usm != null) {
            $.get(`/findusername?username=${usm}`, function (res) {
                var per = res.data;
                $("#isinama").val(per.nama);
                $("#isidivisi").val(per.divisi);
                let ww = per.no_wa;
                let wa = ww.substring(16);
                $("#isino").val(wa);
                let emm = per.email;
                let mma = emm.substring(7);
                $("#isiemail").val(mma);
                $("#isijabatan").val(per.jabatan);
                $("#filep").val(per.Image);
                $("#before").attr('src', (per.image));
                document.getElementById("use").innerHTML = "UPDATE DATA";
                document.getElementById("use").id = "update";
                $("#tempat").append("<div class='alert alert-danger role='alert'>Jika ingin update data, mohon isi juga foto!</div>")
            })
        } else {
            document.getElementById("use").innerHTML = "SIMPAN DATA";
        }

    }

    function getCurrentURL() {
    return window.location.href
  }

    function generateQR() {
        var urlLink = getCurrentURL()
        var usme = document.getElementById("usernameee").value;
        // window.open("http://139.255.52.68:8110/qrcode?link=http://onebasket.b-universe.id:8110/Person/" + `${usme}` + "", "_blank")
        window.open(`${urlLink}` + "qrcode?link=" + `${urlLink}` + "Person/" + `${usme}` + "", "_blank");

    }


    /*]]>*/
</script>