<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>B-Universe</title>
    <link rel="shortcut icon" sizes="16x16" th:href="@{/Images/BTV.ico}" />

</head>

<body>
    <div class="container">
        <div>
            <label for="formFileLg" class="form-label">Upload Images</label>
            <input class="form-control form-control-lg" name="files" id="filesUp" accept="image/*" type="file">
            <button class="btn btn-primary" id="upL" onclick="uplo()">Upload</button>
        </div>
    </div>
</body>

</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"
    integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

    });
    function getCurrentURL() {
        return window.location.href
    }

    function uplo() {
        var urlLink = getCurrentURL();
        var rrrr = urlLink.substring(urlLink.length, urlLink.indexOf("imageuploader"));
        var fileInput = document.getElementById('filesUp');
        var originalName = fileInput.files[0].name;
        var url = `/inputimage`;
        var bodyFormData = new FormData();
        var inputFile = document.getElementsByName("files");
        listVideo = [];
        for (var i = 0; i < inputFile.length; i++) {
            var a = inputFile[i].files[0];
            listVideo.push(a);
        }
        listVideo.forEach(video => {
            bodyFormData.append("files", video);
            bodyFormData.append("files", listVideo);
        });
        axios({
            method: "post",
            url: url,
            data: bodyFormData,
            headers: { "Content-Type": "multipart/form-data" },
        })
            .then(function (response) {
                console.log("berhasil");
                buka();
            }).catch(function (obj) {
                console.log("masuk catch");
                buka();

            });
    };

    function buka(){
        window.open(`${rrrr}` + "qrcode?link=" + `${rrrr}` + "images/upload/" + `${originalName}` + "", "_blank");
    }


</script>